/* This is a comment on my Style Sheet */
/*Title Styles*/
h1{
    font-size:72px;
    color:blue;
}

.centre{
    text-align:center;
}

/*Body Styles*/

.tim{
    text-align:right;
    padding-right:48px;
}

/*Cards*/
.card{
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
    width: 100%;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 2px;
}